@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html, 
body {
    height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 100px 25px 100px 25px;
  background-color: hsl(233, 47%, 7%);
  color: white;
  font-size: 18px;
  font-family: "Inter", monospace;
}

.container {
  border-radius: 10px;
  background-color:hsl(244, 38%, 16%);
  text-align: center;
  margin: auto;
  max-width: 448px;
}

.hero {
  display: flex;
  justify-content: center;
}

img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  filter: opacity(0.6) drop-shadow(0 0 0 rgb(127, 9, 201));
  max-width: 100%;
  height: auto;
  padding-bottom: 40px;
}

.title {
  justify-content: center;
  font-size: 44px;
  font-weight: bold;
  padding-bottom: 25px;
}
.description {
  padding-bottom: 30px;
  max-width: 350px;
  color: hsla(0, 0%, 100%, 0.75);
  margin: auto;
  font-weight: lighter;
}

.lighted {
  color: hsl(277, 64%, 61%);
}
.bigLetters {
  font-size: 30px;
  padding-bottom: 5px;
  font-weight: bolder;
}

.smallLetters {
  font-size: 15px;
  font-weight: lighter;
  color: hsla(0, 0%, 100%, 0.75);
  padding-bottom: 10px;
}

@media (min-width: 1440px) {

  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    max-width: fit-content;
    align-items: center;
  }

  img {
    border-top-left-radius: 0px;
    padding-bottom: 0px;
    border-bottom-right-radius: 10px;
  }

  .title {
    font-size: 30px;
    font-weight: bold;
    padding: 40px 25px 60px 25px;
    max-width: 400px;
  }

  .description {
    padding-bottom: 40px;
  }
  .miniConteiner {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0px 25px 0px 25px;

  }
  .bigLetters {
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: bolder;
  }
  
  .smallLetters {
    font-size: 15px;
    font-weight: lighter;
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 10px;
  }
}
